@{
    ViewBag.Title = "Home Page";
}
<html>
    <head>

        <title>Home</title>
    </head>
    <body>

        <div class="jumbotron" style="background-color:bisque">
            <h1>Calculadora Precaria</h1>
            <p class="lead">Buscar operacion </p>
            <a href="~/Calculadora/Operaciones" ><input type="button" class="btn btn-lg" style="background-color:lightsalmon; color:black" value="Buscar" /></a>
        </div>

    </body>


</html>

