
@{
    ViewBag.Title = "Operaciones";
}

<html>
<head>

    <title>Home</title>
</head>
<body>
    <div class="jumbotron" style="background-color:bisque">
        <h1>Operaciones</h1>
        <p class="lead">Seleccione operacion </p>
        <a href="~/Calculadora/Sumar"><input type="button" class="btn btn-lg" style="background-color:lightsalmon; color:black" value="Sumar" /></a>
        <a href="~/Calculadora/Restar"><input type="button" class="btn btn-lg" style="background-color:lightsalmon; color:black" value="Restar" /></a>
        <a href="~/Calculadora/Multiplicar"><input type="button" class="btn btn-lg" style="background-color:lightsalmon; color:black" value="Multiplicar" /></a>
        <a href="~/Calculadora/Dividir"><input type="button" class="btn btn-lg" style="background-color:lightsalmon; color:black" value="Dividir" /></a>

    </div>



</body>


</html>