
@{
    ViewBag.Title = "Resultado";
}

@using CalculadoraPrecaria.Models
@model Calculadora

<html>
    <head>

    </head>
    <body>
        <h2>Resultado</h2>
        <div class="text-center">
            <div class="form-group">
                <label>Resultado: @Html.TextBoxFor(c => c.resultado, null, new { @class = "form-control" }) </label>
            </div>
        </div>

    </body>



</html>


